<a href="/#"><-home</a>

<div class="container">
	<h2>payroll sheet</h2>
	
	<%= form_for :payroll_sheet, url: "#{payroll_sheet_path}", method: :get do |f| %>
		<div class="emps_index"> 
			<label>month</label>
			<input type="text" name="month", value=<%= @month %> >  
		</div>
		<div class="emps_index"> 
			<label>year</label>
			<input type="text" name="year", value=<%= @year %> >  
		</div>
		<div class="emps_index"> 
			<%= f.submit 'Get report' %>
		</div>
			
    <% if @payroll_sheet != nil %>
    	<%= render 'index' %>
    <% end %>
		
	<% end %>
</div>
	


	