<a href="/#">на главную</a>

<div class="container">
	<h2>общий расчётный лист выплат</h2>
	
	<%= form_for :payroll_sheet, url: "#{payroll_sheet_path}", method: :get do |f| %>

		<div class="emps_index"> 
			<label for="month">месяц</label>
			<select name="month", id="month" >
				<option value=<%= @month %>><%= @month %></option>
				<% 1.upto(12).map do |m|%>
					<option><%= m.to_s %></option>
				<% end %>
			</select>
		</div>

		<div class="emps_index"> 
			<label for="year">год</label>
			<select name="year", id="year" >
				<option value=<%= @year %>><%= @year %></option>
				<% 1900.upto(2024).map do |y|%>
					<option><%= y.to_s %></option>
				<% end %>
			</select>
		</div>
		<div class="emps_index"> 
			<%= f.submit 'получить отчёт' %>
		</div>
			
    <% if @payroll_sheet != nil %>
    	<%= render 'index' %>
    <% end %>
		
	<% end %>
</div>
	


	