

<a href="/#">на главную</a>
<div class="container text-center">
	<h1>сдельные работы</h1>
    <table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Личный номер</th>
				<th scope="col">Номер договора</th>
				<th scope="col">Дата договора</th>
				<th scope="col">Срок исполнения</th>
				<th scope="col">Сумма</th>
				<th scope="col">Дата оплаты</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @epd.each do |j|  %>
			<tr>
				<td> <%= get_rownum_psh %> </td>
				<td> <%= j.person_num %> </td>
				<td> <%= j.contract_number %> </td>
				<td> <%= j.contract_date %> </td>
				<td> <%= j.expiration_date %> </td>
				<td> <%= j.contract_amount %> </td>
				<td> <%= j.payment_date %> </td>
				<td> <div class="emps_index">
						<%= form_with model: @epd, 
							url: "#{emp_piecework_data_path}/#{j.emp_id}&#{j.contract_number}",
							method: :delete,
							data: {turbo: false} do |f| %>
						
						<%= f.submit 'удалить' %>
					<% end %>
					</div>
				</td>
			</tr>
			<% end %> 
			<% reset_row_num %>
		
			<tr>
				<%= form_with model: @new_epd, method: :post, url: "#{emp_piecework_data_path}" do |f| %>
					<td>
						
					</td>
					<td>				
						<%= f.select :person_num, Employee.order(:person_num).map {|jt| jt.person_num } %>
					</td>
					<td>
						<%= f.text_field :contract_number %>
					</td>
					<td>
						<%= f.date_select :contract_date %>
					</td>
					<td>
						<%= f.date_select :expiration_date %>
					</td>
					<td>
						<%= f.text_field :contract_amount %>
					</td>
					<td>
						<%= f.date_select :payment_date %>
					</td>

					<td><%= f.submit 'сохранить' %></td>

					<tr>
						<td colspan="8">
							<span class="emp_error">
								<%= @new_epd.errors[:contract_amount].first %>
								<%= @new_epd.errors[:contract_number].first %>
								<%= @new_epd.errors[:contract_date].first %>
								<%= @new_epd.errors[:emp_id].first %>
							</span></td>
						
					</tr>
					
				<% end %>
			</tr>
		</tbody>
	</table>

</div>
