	<div class="inner_left_container">
		
		<%= f.label :last_name %>
		<%= f.text_field :last_name %></br>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %></br>
		<%= f.label :father_name %>
		<%= f.text_field :father_name %></br>
		<%= f.label :snils %>
		<%= f.text_field :snils %></br>
		<%= f.label :tin %>
		<%= f.text_field :tin %></br>
	</div>
	<div class="inner_right_container">
		
		<%= f.label :passport_sn %>
		<%= f.text_field :passport_sn %></br>
		<%= f.label :passport_num %>
		<%= f.text_field :passport_num %></br>
		<%= f.label :onboarding_date %>
		<%= f.text_field :onboarding_date %></br>
		<%= f.label :leaving_date %>
		<%= f.text_field :leaving_date %></br>
		<%= f.label :insurance_start_date %>
		<%= f.text_field :insurance_start_date %></br>
		
	</div>