<a href="/#">на главную</a>

<div class="container">
	<h2>
		<%= @emp.person_num %></br> 	
	</h2>
	<%= form_with model: @emp, url: "#{emps_path}/#{@emp.emp_id}", method: :put do |f| %>

	<div class="inner_left_container">
		
		<%= f.label :Фамилия %></br>
		<%= f.text_field :last_name %>
		<p id="attr_last_name" class="emp_error">
					<%= @emp.errors[:last_name].first %>
		</p>
		
		<%= f.label :Имя %></br>
		<%= f.text_field :first_name %>
		<p class="emp_error">
			<%= @emp.errors[:first_name].first %>
		</p>
		
		<%= f.label :Отчество %></br>
		<%= f.text_field :father_name %>
		<p class="emp_error">
			<%= @emp.errors[:father_name].first %>
		</p>		
		
		<%= f.label :СНИЛС %></br>
		<%= f.text_field :snils %>
		<p class="emp_error">
			<%= @emp.errors[:snils].first %>
		</p>
		
		<%= f.label :ИНН %></br>
		<%= f.text_field :tin %>
		<p class="emp_error">	
			<%= @emp.errors[:tin].first %>
		</p>		
	<!-- </div>
	
	<div class="inner_left_container"> -->
		
		<%= f.label "Серия паспорта" %></br>
		<%= f.text_field :passport_sn %>
		<p class="emp_error">	 
			<%= @emp.errors[:passport_sn].first %>
		</p>

		<%= f.label "Номер паспорта" %></br>
		<%= f.text_field :passport_num %>
		<p class="emp_error">	 
			<%= @emp.errors[:passport_num].first %>
		</p>

		<%= f.label "Дата приёма" %></br>
		<%= f.date_select :onboarding_date, method: "written_on", start_year: 2005, use_month_numbers: true, include_blank: true %>
		<p class="emp_error">	 
			<%= @emp.errors[:onboarding_date].first %>
		</p>

		<%= f.label "Дата увольнения" %></br>
		<%= f.date_select :leaving_date, method: "written_on", start_year: 2005, use_month_numbers: true, include_blank: true %>
		<p class="emp_error">	 
			<%= @emp.errors[:leaving_date].first %>
		</p>

		<%= f.label "Дата начала трудового стажа" %></br>
		<%= f.date_select :insurance_start_date, method: "written_on", start_year: 2005, use_month_numbers: true, include_blank: true %>
		<p class="emp_error">	
			<%= @emp.errors[:insurance_start_date].first %>
			
		</p>
		
	<!-- </div> -->
		
		<div class="inner_right_container">
		
			<p>
				<%= f.submit 'Сохранить' %>
			</p>
		</div>
	

	<% end %>
</div>
				
				
	