<a href="/#">на главную</a> 

<div class="container">
	<h1>новый сотрудник</h1>
	<%= form_for :employee, url: '/emps', method: :post, data: {turbo: true} do |f| %>

		<div class="inner_right_container">
			<p> 
				<%= f.label :Фамилия %><br>
				<%= f.text_field :last_name %> </p>
			<p> 
				<%= f.label :Имя %><br>
				<%= f.text_field :first_name %> </p>
			<p> 
				<%= f.label :Отчество %><br>
				<%= f.text_field :father_name %> </p>
			<p> 
				<%= f.label :СНИЛС %><br>
				<%= f.text_field :snils %> </p>
			<p> 
				<%= f.label :ИНН %><br>
				<%= f.text_field :tin %> </p>
		</div>
		<div class="inner_right_container">
			<p> 
				<%= f.label "Серия паспорта" %><br>
				<%= f.text_field :passport_sn %> </p>
			<p> 
				<%= f.label "Номер паспорта" %><br>
				<%= f.text_field :passport_num %> </p>
			<p> 
				<%= f.label "Дата приёма" %><br>
				<%= f.text_field :onboarding_date %> </p>
			<p> 
				<%= f.label "Дата увольнения" %><br>
				<%= f.text_field :leaving_date %> </p>
			<p>	
			<p> 
				<%= f.label "Дата начала трудового стажа" %><br>
				<%= f.text_field :insurance_start_date %>
			</p>
			<div class="bottom_container">
				<p> <%= f.submit 'Создать сотрудника' %> </p>
			</div>
		</div>
		
	<% end %>
</div>