

<a href="/#">на главную</a> 

<div class="container">
	<h1>новый сотрудник</h1>
	
	<%= form_with model: @new_emp, url: emps_path, method: :post, data: {turbo: false} do |f| %>

		<div class="emp_attrs_container">
			<div class="emp_attr">
				<%= f.label :Фамилия %><br>
				<%= f.text_field :last_name %>
				<p id="attr_last_name" class="emp_error">
					<%= @new_emp.errors[:last_name].first %>
				</p>
			</div>
			
			<div class="emp_attr">	
				<%= f.label :Имя %><br>
				
				<%= f.text_field :first_name %>
				<p class="emp_error">
					<%= @new_emp.errors[:first_name].first %>
				</p>
				
			</div>

			<div class="emp_attr">
				<%= f.label :Отчество %><br>
				
				<%= f.text_field :father_name %>
				<p class="emp_error">
					<%= @new_emp.errors[:father_name].first %>
				</p>
			</div>

			<div class="emp_attr">
				<%= f.label :СНИЛС %><br>
				
				<%= f.text_field :snils %>	
				<p class="emp_error">
					<%= @new_emp.errors[:snils].first %>
				</p>				 
			</div>

			<div class="emp_attr">
				<%= f.label :ИНН %><br>

				
				<%= f.text_field :tin %>	
				<p class="emp_error">	
					<%= @new_emp.errors[:tin].first %>
					 </p>				 
			</div>
		</div>

		<div class="emp_attrs_container">

			<div class="emp_attr">
				<%= f.label "Серия паспорта" %><br>
				<%= f.text_field :passport_sn %> 
				<p class="emp_error">	 
					<%= @new_emp.errors[:passport_sn].first %>
				</p>
			</div>
			
			<div class="emp_attr">	
				<%= f.label "Номер паспорта" %><br>
				<%= f.text_field :passport_num %>
				<p class="emp_error">	 
					<%= @new_emp.errors[:passport_num].first %>
					 </p>
			</div>

			<div class="emp_attr">
				<%= f.label "Дата приёма" %><br>
				<%= f.text_field :onboarding_date %>
				<p class="emp_error">	 
					<%= @new_emp.errors[:onboarding_date].first %>
				</p>
			</div>
			
			<div class="emp_attr">
				<%= f.label "Дата увольнения" %><br>
				<%= f.check_box :leaving_date, id: "chk_ld", value: 0 %>
				<%= f.text_field :leaving_date, disabled: true %> </p>
				<p class="emp_error">	 
					<%= @new_emp.errors[:leaving_date].first %>
					
			</div>

			<div class="emp_attr">
				<%= f.label "Дата начала трудового стажа" %><br>
				<%= f.text_field :insurance_start_date %>
				<p class="emp_error">	
					<%= @new_emp.errors[:insurance_start_date].first %>
					
				</p>
			</div>
			<div class="inner_right_container">
				<p> <%= f.submit 'Создать сотрудника', id: 'save_new_emp' %> </p>
			</div>

		</div>

	<% end %>
</div>


