

<a href="/#">на главную</a> 

<div class="container">
	<h1>новый сотрудник</h1>


	
	<%= form_with id: 'form_new_emp', model: @new_emp, url: emps_path, method: :post, data: {turbo: false} do |f| %>

		<div class="inner_left_container">
			
				
			<%= f.label :Фамилия %>

				<p id="attr_last_name" class="emp_error">
					<%= @new_emp.errors[:last_name].first %>
					<%= f.text_field :last_name %> 
				</p>
				
			<%= f.label :Имя %>
			
			<p class="emp_error">
				<%= @new_emp.errors[:first_name].first %>
				<%= f.text_field :first_name %> </p>
			
			<%= f.label :Отчество %>

			<p class="emp_error">
				<%= @new_emp.errors[:father_name].first %>
				<%= f.text_field :father_name %> </p>

			<%= f.label :СНИЛС %>
			
			<p class="emp_error">
				<%= @new_emp.errors[:snils].first %>
				<%= f.text_field :snils %> </p>
			
				
			<%= f.label :ИНН %>

			<p class="emp_error">	
				<%= @new_emp.errors[:tin].first %>
				<%= f.text_field :tin %> </p>

		</div>

		<div class="inner_left_container">

			<%= f.label "Серия паспорта" %><br>
			<p class="emp_error">	 
				<%= @new_emp.errors[:passport_sn].first %>
				<%= f.text_field :passport_sn %> </p>
				
			<%= f.label "Номер паспорта" %><br>
			<p class="emp_error">	 
				<%= @new_emp.errors[:passport_num].first %>
				<%= f.text_field :passport_num %> </p>

				<%= f.label "Дата приёма" %><br>
			<p class="emp_error">	 
				<%= @new_emp.errors[:onboarding_date].first %>
				<%= f.text_field :onboarding_date %> </p>
			
			<%= f.label "Дата увольнения" %><br>
			<p class="emp_error">	 
				<%= @new_emp.errors[:leaving_date].first %>
				<%= f.text_field :leaving_date %> </p>
			
			<%= f.label "Дата начала трудового стажа" %>
			<p class="emp_error">	
				<%= @new_emp.errors[:insurance_start_date].first %>
				<%= f.text_field :insurance_start_date %>
			</p>

			<div class="inner_right_container">
				<p> <%= f.submit 'Создать сотрудника', id: 'save_new_emp' %> </p>
			</div>

		</div>

	<% end %>
</div>


