<a href="/#">на главную</a>

<div class="container">
	<h2>
		<%= @emp.person_num %></br> 	
	</h2>
	
	<%= form_with model: @emp, url: "#{emps_path}/#{@emp.emp_id}", method: :get do |f| %>



	<div class="inner_left_container">
		
		<%= f.label :Фамилия %></br>
		<%= f.text_field :last_name, readonly: true %></br>
		<%= f.label :Имя %></br>
		<%= f.text_field :first_name, readonly: true %></br>
		<%= f.label :Отчество %></br>
		<%= f.text_field :father_name, readonly: true %></br>
		<%= f.label :СНИЛС %></br>
		<%= f.text_field :snils, readonly: true %></br>
		<%= f.label :ИНН %></br>
		<%= f.text_field :tin, readonly: true %></br>
	<!-- </div>
	
	<div class="inner_left_container"> -->
		
		<%= f.label "Серия паспорта" %></br>
		<%= f.text_field :passport_sn, readonly: true %></br>
		<%= f.label "Номер паспорта" %></br>
		<%= f.text_field :passport_num, readonly: true %></br>
		<%= f.label "Дата приёма" %></br>
		<%= f.text_field :onboarding_date, readonly: true %></br>
		<%= f.label "Дата увольнения" %></br>
		<%= f.text_field :leaving_date, readonly: true %></br>
		<%= f.label "Дата начала трудового стажа" %></br>
		<%= f.text_field :insurance_start_date, readonly: true %></br>
		
	<!-- </div> -->

	<% end %>
</div>
				
				
	