

<a href="/#">на главную</a>
<div class="container text-center">
	<h1>стаж работы</h1>
    <table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Личный номер</th>
				<th scope="col">Дата начала работы</th>
				<th scope="col">Дата окончания работы</th>
				<th scope="col">Предприятие</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @ejb.each do |j|  %>
			<tr>
				<td> <%= get_rownum_psh %> </td>
				<td> <%= j.person_num %> </td>
				<td> <%= j.start_date %> </td>
				<td> <%= j.end_date %> </td>
				<td> <%= j.corp_name %> </td>
				<td> <div class="emps_index">
						<%= form_with model: @new_ejb, 
							url: "#{emp_jobs_before_path}/#{j.emp_id}&#{j.start_date}&#{j.end_date}",
							method: :delete,
							data: {turbo: false} do |f| %>
						
						<%= f.submit 'удалить' %>
					<% end %>
					</div>
				</td>
			</tr>
			<% end %> 
			<% reset_row_num %>

			<tr>
				<%= form_with model: @new_ejb, method: :post, url: "#{emp_jobs_before_path}" do |f| %>
					<td>
						
					</td>
					<td>				
						<%= f.select :person_num, Employee.order(:person_num).map {|jt| jt.person_num } %>
					</td>

					<td>
						<%= f.date_select :start_date %>
					</td>
					
					<td>
						<%= f.date_select :end_date %>
					</td>

					<td>
						<%= f.text_field :corp_name %>
					</td>
					

					<td><%= f.submit 'сохранить' %></td>

					<tr>
						<td colspan="5">
							<span class="emp_error">
								<%= @new_ejb.errors[:corp_name].first %>
								<%= @new_ejb.errors[:emp_id].first %>
								<%= @new_ejb.errors[:start_date].first %>
							</span></td>
						
					</tr>
					
				<% end %>
			</tr>
		</tbody>
	</table>

</div>
