<a href="/#">на главную</a>

<div class="container text-center">
	
	
	
    <table class="table">
    	<caption >Пользователи</caption>
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">имя</th>
				<th scope="col">имейл</th>

			</tr>
		</thead>
		<tbody>
			<% @users.each do |u|  %>
				<tr>
					<td> <%= get_rownum_psh %> </td>
					<td> <%= u.username %> </td>
					<td> <%= u.email %> </td>
					
					
				</tr>
			<% end %> 
			<% reset_row_num %>
		</tbody>
</div>

<div class="container text-center">
	
	
    <table class="table">
    	<caption >Пользователи и Роли</caption>
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">имя</th>
				<th scope="col">имейл</th>
				<th scope="col">роль</th>
				<th scope="col">удалить</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |u|  %>
				<% u.roles.each do |r|  %>
				<tr>
					<td> <%= get_rownum_psh %> </td>
					<td> <%= u.username %> </td>
					<td> <%= u.email %> </td>
					<td> <%= r.role_name %> </td>
					
					<td> 
						
						<%= form_with model: @users, 
							url: "/users/#{u.id}&#{r.id}",
							method: :delete,
							data: {turbo: false} do |f| %>
						
							<%= f.submit 'удалить' %>
						<% end %>
						
					</td>
				</tr>
				<% end %> 
			<% end %> 
			<% reset_row_num %>

			<tr>
				<%= form_with model: @user, method: :post, url: "/users/admin", data: {turbo: false} do |f| %>
					<td>
						
					</td>
					<td>				
						
					</td>

					<td>
						<%= f.select :email, User.order(:email).map {|u| u.email } %>
					</td>
					
					<td>
						<%= f.select :role_name, Role.order(:role_name).map {|r| r.role_name} %>
					</td>

					<td><%= f.submit 'сохранить' %></td>

					<td>
						
					</td>

					<tr>
						<td colspan="6">
							<span class="emp_error">
								<%=  %>
							</span>
						</td>
						
					</tr>
					
				<% end %>
			</tr>
		</tbody>
	</table>

</div>
