<h1>MyCorp.Accaunted</h1>

<div class="container">
  <nav class="nav">
    <a class="nav-link active" aria-current="page" href="#" hidden>главная</a>

    <div class="inner_left_container">

      <div class="container">
        <a class="nav-link" href=<%= "#{emps_path}/new" %>>новый сотрудник</a>
        создать нового сотрудника
      </div>
      <div class="container">
        <a class="nav-link" href=<%= emps_path %>>список сотрудников</a>
        просмотреть список сотрудников
      </div>
      
      <div class="container">
        <a class="nav-link" href=<%= "#{dic_job_title_path}" %>>справочник должностей</a>
        просмотреть список должностей, добавить новые должности
      </div>
      <div class="container">
        <a class="nav-link" href=<%= "#{dic_pay_params_path}" %>>справочник параметров для расчёта выплат</a>
        просмотреть справочник параметров для расчёта выплат,</br> добавить/изменить значения
      </div>
      <div class="container">
        <a class="nav-link" href=<%= "#{dic_sick_rate_path}" %>>справочник параметров расчёта больничных</a>
        просмотреть справочник параметров расчёта больничных,</br> добавить/изменить значения
      </div>
      <div class="container">
        <a class="nav-link" href=<%= "#{emp_jobs_data_path}" %>>назначение на должность</a>
        просмотреть и добавить назначения на должность
      </div>
      <div class="container">
        <a class="nav-link" href=<%= "#{emp_salary_data_path}" %>>назначение оклада</a>
        просмотреть и добавить назначение оклада
      </div>
    </div>

    <div class="inner_right_container">
      <div class="container">
        <a class="nav-link" href=<%= "#{emp_sick_data_path}" %>>невыходы по больничным</a>
        просмотреть и добавить больничные
      </div>
      <div class="container">
        <a class="nav-link" href=<%= "#{emp_piecework_data_path}" %>>сдельные работы</a>
        просмотреть и добавить сдельные работы
      </div>
      <div class="container">
        <a class="nav-link" href=<%= "#{emp_bonus_data_path}" %>>премии</a>
        просмотреть и добавить премии
      </div>
      <div class="container">
        <a class="nav-link" href=<%= "#{emp_jobs_before_path}" %>>стаж работы</a>
        просмотреть и добавить стаж работы
      </div>
      <div class="container">
        <a class="nav-link" href=<%= payroll_sheet_path %>>общий расчётный лист начисления зп</a>
        сформировать общий расчётный лист начисления зп
      </div>
      <div class="container">
        <a class="nav-link" href=<%= payroll_employee_path %>>расчётный лист начисления зп по сотруднику</a>
        сформировать расчётный лист начисления зп по сотруднику
      </div>
      <div class="container">
        <a class="nav-link" href=<%= total_sheet_path %>>итоговая ведомость выплат</a>
        сформировать итоговую ведомость выплат
      </div>
    </div>
  </nav>
</div>