


<a href="/#">на главную</a>
<div class="container text-center">
	<h1>невыходы по больничным</h1>
    <table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Личный номер</th>
				<th scope="col">Дата начала больничного</th>
				<th scope="col">Дата окончания больничного</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @esickdata.each do |j|  %>
			<tr>
				<td> <%= get_rownum_psh %> </td>
				<td> <%= j.person_num %> </td>
				<td> <%= j.date_start_sick %> </td>
				<td> <%= j.date_stop_sick %> </td>
				<td> <div class="emps_index">
						<%= form_for :emp_salary_data, 
							url: "#{emp_sick_data_path}/#{j.emp_id}",
							method: :delete,
							data: {turbo: false} do |f| %>
						
						<%= f.submit 'удалить' %>
					<% end %>
					</div>
				</td>
			</tr>
			<% end %> 
			<% reset_row_num %>
			<tr>
				<%= form_for :emp_sick_data, method: :post, url: "#{emp_sick_data_path}" do |f| %>
					<td>
						
					</td>
					<td>				
						<%= f.select :person_num, Employee.order(:person_num).map {|jt| jt.person_num } %>
					</td>
					<td>
						<%= f.date_select :date_start_sick %>
					</td>
					<td>
						<%= f.date_select :date_stop_sick %>
					</td>

					<td><%= f.submit 'сохранить' %></td>
					
				<% end %>
			</tr>
		</tbody>
	</table>

</div>

